.github/**
.vscode/**
.vscode-test/**
node_modules/**
webpack.config.js
out/test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
demonstrate1.gif
demonstrate2.gif
create_app.png
id_and_key.png
yarn.lock
